[Unit]
Description=carlteck gunicorn
Requires=carlteck.socket
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/carlteck
ExecStart=/var/lib/jenkins/workspace/carlteck/env/bin/gunicorn \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          carlteck.wsgi:application

[Install]
WantedBy=multi-user.target