[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/carlteck
ExecStart=/var/lib/jenkins/workspace/carlteck/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          carlteck.wsgi:application

[Install]
WantedBy=multi-user.target
